ul {
    list-style-type: none;
    text-align: left;
}

.pages {
    font-size: 15px;
    background:none;
    border:none;
    margin:5px;
    padding:0;
    cursor: pointer;
}

.selected {
    color: red;
    font-weight: bold;
}